/* Reset básico */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Fondo y texto general */
body {
    background-color: #1a1a1a; /* Fondo oscuro para un look más dramático */
    color: #f5f5f5;
}

/* Cabecera */
header {
    background-color: #e74c3c; /* Rojo vibrante */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2rem;
}

/* Secciones */
section {
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.content {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: #2c3e50; /* Fondo oscuro para contraste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e74c3c;
}

/* Estilos para listas */
ul {
    list-style-type: none;
    padding-left: 0;
}

/* Footer */
footer {
    background-color: #e74c3c; /* Rojo vibrante */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #34495e; /* Bordes oscuros */
    border-radius: 5px;
    background-color: #34495e; /* Fondo oscuro para campos de formulario */
    color: #fff;
}

button {
    padding: 10px;
    background-color: #e74c3c; /* Rojo vibrante */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b; /* Rojo más oscuro al pasar el ratón */
}

/* Animación de aparición */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para repositorios de GitHub */
.repos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.repo-item {
    background-color: #2c3e50; /* Fondo oscuro */
    padding: 20px;
    border: 1px solid #34495e; /* Bordes oscuros */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.repo-item h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.repo-item p {
    margin-bottom: 10px;
}

.repo-item a {
    text-decoration: none;
    color: #e74c3c; /* Rojo brillante para enlaces */
    font-weight: bold;
}

.repo-item a:hover {
    text-decoration: underline;
}
